.login-container {
  display: flex;
  height: 100vh;
}

.login-left {
  flex: 1;
  background: #ddd; /* placeholder */
}

.login-right {
  flex: 1;
  padding: 3rem;
  display: flex;
  flex-direction: column;
}

.login-right h1 {
  font-size: 1.7em;
  margin-top: 5rem; 
  margin-bottom: 5rem;
  text-align: center;

}

.login-right form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.login-right input {
  padding: 0.75rem;
  font-size: 1rem;
}

.login-right button {
  padding: 0.75rem;
  font-size: 1rem;
  cursor: pointer;
}

.back-arrow {
  margin-bottom: 1rem;
  text-decoration: none;
  font-size: 1.2rem;
}

.error {
  color: red;
  margin-bottom: 1rem;
}

form {
  width: 50%;
  margin: 0 auto;
}

.signup-link {
  text-align: center;
  margin-top: 7.5rem;
}